@font-face{
	font-family:'Dancing Script', cursive;
}

header{
	background-color: #5b7989;
	border-radius: 10px 10px 0 0;
	color: white;
	text-shadow: 2px 2px #02010a;
	text-align: center;
	font-family: 'Dancing Script';
	padding-bottom: 1%;
}
article{
	text-align:center;
}
h1{
	float: left;
	color: white;
	text-shadow: 2px 2px #02010a;
	display: inline;
	padding: 1%;
}
ul{
	display: flex;
}
li{
	margin: 3%;
	display: inline;
}
a{
	text-decoration: none;
}
#menu{
float: right;
}

#divmenu{
	height: inherit;
	list-style-type: none;
	overflow: hidden;
	padding: 3%;
	margin: 1%;
	width: auto;
}
#secundario, #contenidorp{
	display: flex;
	flex-direction:row;
	display: -webkit-flex;
	-webkit-flex-direction: row direction;
	background-color: #d5c75f;
	border: 2px ;
	padding: 2%
}
.cuerpo{
		position: absolute;
		background-color: #02010a;
		width: 900px;
		left: 15%;
}
.imagenes{
	width: 50%;
	height: 300px;
	display: inline-block;
}
#central{
	text-align: center;
	background-color: #82c3a6;
	padding: 2%;
}

#imagen1{
	width: 60%;
	text-align: center;
	box-shadow: 2px 2px #02010a;

}
#imagen2{
	display: inline-block;
	float: left;
	box-shadow: 2px 2px #02010a;
	max-height: 100%;
}

#imagen3{
	display: inline-block;
	float: right;
	box-shadow: 2px 2px #02010a;
	max-height: 100%;
}

#imagen2:hover{
		transform: rotate(10deg);
		box-shadow: 2px 2px #82c3a6;
}
#imagen3:hover{
	transform: translate(5px, -20px);
	box-shadow: 2px 2px #82c3a6;
}
.pie{
	border-radius: 0 0 10px 10px;
	font-family: 'Dancing Script';
	background-color: #c6d5c5;
	display: flex;
	flex-direction: row;
	padding: 2%;
}

#contenidorp {
	display: flex;
	flex-direction: column;
}
.contenedor {
	display: flex;
	flex-direction: row;
}
.contenedor > div {
	text-align: center;
	padding: 1%;
	margin: 1%;
}
.contenedor img{
	width: 90%;
}
#retrato1 img{
	-webkit-filter: blur(10px); /* Chrome, Safari, Opera */
	filter: blur(10px);
}
#retrato2, #retrato4, #retrato6 img{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}
#retrato3 img{
	-webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
	filter: sepia(90%);
}
@media screen and (min-width: 900px) {
	#contenido {
		width: 900px;
		margin: 0 auto;
	}
	div [class*="bloque"]{
		  min-height: 100px;
		  flex: 1 2 40%;
	}
}
@media screen and (max-width: 900px) {
		#contenido {
			width: 100%;
			margin: 0 auto;
			display: inline-block;
		}
		.cuerpo{
			display: inline-block;
			background-color: #02010a;
			width: 100%;
			left: 0%;
		}
		#menu{
			text-align: center;
			float: none;
		}
		#imagen1{
			width: 100%;
		}
		#imagen2{
			width: 100%;
		}
		#imagen3{
			width: 100%;
		}
		#secundario{
			display: block;
		}
		#menu-principal{
			display: inline-block;
			width: 100%;
			text-align: center;
		}
		#divmenu{
			align-items: center;
			text-align: center;
		}
		ul{
			text-align: center;
			align-items: center;
			display: block;
		}
		li{
			text-align: center;
			margin: 1%;
			display: inline;

		}
		h1{
			float: none;
			text-align: center;
		}
		header
		{
			width: 100%;
		}
	.imagenes{
		display: inline-block;
		width: 100%;
	}
	.pie{
		display: block;
		border: 3%;
		border-color: black;
	}
	div [class*="bloque"]{
		  height: auto;
			width: 100%;
			display: inline-block;
			border: 1px solid black;
			text-align: center;
	}
	#retrato1, #retrato2,#retrato3, #retrato4,#retrato5, #retrato6{
		width: 100%;
	}
	.contenedorp{
		display: block;

	}
	div [class*="retrato"]{
		  height: auto;
			width: 100%;
			display: inline-block;
	}

	.contenedor {
		display: block;
		flex-direction: row;
	}
}
