@font-face{
	font-family:'Dancing Script', cursive;
}
header{
	background-color: #5b7989;
	border-radius: 10px 10px 0 0;
	font-family: 'Dancing Script';
	width: 100%;
}
h1{
	float: left;
	color: white;
	text-shadow: 2px 2px #02010a;
	display: inline;
	padding: 1%;
}
ul{
	list-style-type: none;
	overflow: hidden;
	padding: 3%;
	margin: 1%
}
li{
	float: right;
	margin: 1%;
	display: inline;
}
a{
	text-decoration: none;
}
.imagenes{
	width: 50%;
	
}
#central{
	background-color: #82c3a6;
	text-align: center;
}
#central img{
	width: 80%;
}
#contenido{
	width: 900px;
	margin: 0 auto;
}
#secundario{
	display: flex;
	flex-direction: row;
	display: -webkit-flex;
	-webkit-flex-direction: row direction;
	background-color: #d5c75f;
	border: 1px;
}

article #imagen2{
	display: inline-block;
	float: left;
	width: 80%;
	text-align: center;
}
article #imagen3{
	display: inline-block;
	float: right;
	width: 80%;
	text-align: center;
}

@media screen and (min-width: 900px) {
	#contenido {
		width: 900px;
		margin: 0 auto;
	}}
@media screen and (max-width: 900px) {
		#contenido {
			width: 100%;
			margin: 0 auto;
			display: inline-block;

		}
		#imagen1{
			width: 100%;
		}
		#imagen2{
			width: 100%;
		}
		#imagen3{
			width: 100%;
		}
		header
		{
			width: 100%;
		}
	}
